.first__about {
  display: flex;
  justify-content: space-between;
  color: white;
  max-width: 60%;
}

.first__user-about {
  font-size: 18px;
  text-align: right;
  margin-right: 90px;
  color: $text-grey;
  color: $text-grey;
  font-weight: 700;
}

.first__user-name {
  font-size: 72px;
  line-height: 1;
  text-align: left;
}
