.avatar {
  display: block;
  max-width: 200px;
  max-height: 200px;
  overflow: hidden;
  border-radius: 50%;
  @include desktopHd {
    max-width: 204px;
    max-height: 204px;
  }
}

.avatar__pic {
  display: block;
  object-fit: contain;
  width: 100%;
  height: 100%;
}
