.first {
  height: 100vh;
}

.first__container {
  display: flex;
  flex-direction: column;
}

.first__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first__menu {
  margin: 0 20px;
}

.first__header {
  padding-top: 40px;
}

.first__content {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.first__scroll {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}
