.nav__list {
  display: flex;
  align-items: center;
  color: white;
}

.nav__item {
  margin-right: 30px;
  transition: 0.3s;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: $text-grey;
  }
}

.nav__link {
  text-decoration: none;
}
