.aboutme__bg {
  position: absolute;
  top: 22%;
  right: 0;
  left: 0;
  z-index: 2;
  width: 100%;

  @include tablets {
    display: none;
  }
}

.first__bg {
  width: 100%;

  @include tablets {
    display: none;
  }
}
