.rewier-form {
  background-image: url(../images/content/bridge.jpg);
  background-position: center center no-repeat;
  background-size: cover;
  position: relative;
}

.rewier-form__bkg1 {
  position: absolute;
  right: 0;
  top: -15%;
}

.rewier-form__bkg2 {
  position: absolute;
  right: 15%;
  top: 40%;
}

.rewier-form__bkg3 {
  position: absolute;
  right: 5%;
  top: 55%;
}

.rewier-form__bkg4 {
  position: absolute;
  right: 5%;
  top: 75%;
}
