.scroll__link {
  display: flex;
  cursor: pointer;
  justify-content: space-around;
  align-items: center;
  color: $text-grey;
  z-index: 7;
  text-decoration: none;
}

.scroll-downbtn {
  text-decoration: none;
}

.scroll__icon {
  fill: $text-grey;
  width: 30px;
  height: 35px;
  transition: 0.3s;

  &:hover {
    fill: $fill-grey-hover;
  }
}
