.skill__round {
  max-width: 200px;
  max-height: 200px;
  fill: transparent;
  stroke: red;
  stroke-width: 2px;
  stroke-dasharray: 540;
}
.skills-row__list {
  display: flex;
}

.skills {
  margin-left: 30%;
  margin-top: 130px;
}

.skills-row__title {
  color: white;
  font-size: 24px;
  font-weight: bold;
}
