.socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socials__icons {
  width: 28px;
  height: 31px;
  display: block;
}

.socials__item {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}
