.socials {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include tablets {
    margin-right: 90px;
  }

  @include phones {
    display: none;
  }
}

.socials__icons {
  width: 28px;
  height: 31px;
  display: block;
  fill: $fill-grey;
  transition: 0.3s;

  &:hover {
    fill: $fill-grey-hover;
  }
}

.socials__item {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}
