.user__avatar {
  display: flex;
  align-items: center;
  margin: 0 auto 80px auto;

  @include phones {
    margin: 0 auto;
  }
}

.user__desc {
  display: flex;
  flex-direction: column;

  @include phones {
    margin-bottom: 50px;
  }
}

.user__desc-item {
  display: flex;
  justify-content: space-between;
  color: white;
  line-height: 2.5;
  max-width: 80%;

  @include tablets {
    max-width: 100%;
  }
}

.user__topic {
  color: $text-grey;
}
